// Tâmia © 2013 Artem Sapegin http://sapegin.me
// Links

//
// Configuration
//

// Link style (default: underline).
//
// Values:
// - underline - text-decoration:underline.
// - border - border-bottom:1px solid.
// - gradient - Uses CSS gradients to position line under text (cannot change line color on hover).
link-style ?= "underline"

// Link color (default: #1978c8).
link-color ?= #1978c8

// Visited link color.
visited-color ?= link-color

// Hovered link color.
hover-color ?= link-color

// Link underline color.
link-underline-color ?= link-color

// Visited link underline color.
visited-underline-color ?= visited-color

// Hovered link underline color.
hover-underline-color ?= hover-color

// Link underline position (only when link-style == gradient, default: 80%)
link-underline-position ?= 80%
link-underline-position = 76.5% if link-style == "underline"

// Pressable links (shifts down by 1px, default: true).
link-pressable ?= true


//
// Classes
//

// Pressable element: pointer cursor + disable text selection.
.pressable-inset
	no-select()
	cursor: pointer

// Pressable element: shifts down by 1px on click.
.pressable
	@extend .pressable-inset
	&:active
		position: relative if link-pressable
		top: 1px if link-pressable

// Non-pressable element: cancels .pressable.
.no-pressable
	&,
	&:hover,
	&:active
		cursor: default
	&:active
		position: static if link-pressable

// Remove underline.
.no-underline
	&,
	&:link,
	&:visited,
	&:hover,
	&:active,
	&:focus
		text-decoration: none
		border-bottom: 0
		background-image: none

// Link.
//
// .link_fake - Pseudo link with dashed underline.
// .link_quoted - Link in quotes (quotes should be colored but not underlined). Example: a.link.link_quoted>u.
.link
	&,
	& u
		@extend .pressable
		transition: border .1s ease-in-out, color .2s ease-in-out, background .2s ease-in-out
		cursor: pointer
		if link-style == "underline"
			text-decoration: underline
		else
			text-decoration: none
		if link-style == "border"
			border-bottom-width: 1px
			border-bottom-style: solid
		if link-style == "gradient"
			background-position: 0 link-underline-position
			background-size: 5px 1px
			background-repeat: repeat-x

	&,
	&:link,
	& u,
	&:link u
		color: link-color
		if link-style == "gradient"
			background-image: linear-gradient(left, link-underline-color, link-underline-color)

	&:visited,
	&:visited u
		color: visited-color
		if link-style == "gradient"
			background-image: linear-gradient(left, visited-underline-color, visited-underline-color)

	&:hover,
	&:active,
	&:focus,
	&:hover u,
	&:active u,
	&:focus u
		color: hover-color
		if link-style == "gradient"
			background-image: linear-gradient(left, hover-underline-color, hover-underline-color)

	&_fake
		if link-style == "border"
			border-bottom-style: dotted
		if link-style != "gradient"
			text-decoration: none
			background-position: 0 link-underline-position
			background-size: 5px 1px
			background-repeat: repeat-x

		&,
		&:link,
		&:visited
			color: link-color
			if link-style != "border"
				background-image: linear-gradient(left, link-underline-color, link-underline-color 50%, transparent 50%)

		&:hover,
		&:active,
		&:focus
			color: hover-color
			if link-style != "border"
				background-image: linear-gradient(left, hover-underline-color, hover-underline-color 50%, transparent 50%)

	&_quoted
		@extend .no-underline

.no-cssgradients
	.link
		text-decoration: underline
	.link_fake
		text-decoration: none
		border-bottom: 1px dotted
