// Tâmia © 2013 Artem Sapegin http://sapegin.me
// Checkbox and radio button
// Requires Modernizr.svg

/* Bones */

.checkbox,
.radio
	white-space: nowrap

	&__button
		// For prehistoric browsers
		display: none

	&__text
		display: inline-block
		white-space: normal

	&__button,
	&__text
		vertical-align: middle


	&__input:checked,
	&__input:not(:checked)
		// Input should be hidden but focusable
		// display:none and width=height=0 don’t work here
		position: absolute
		opacity: 0
		overflow: hidden
		height: 1px
		width: 1px
		padding: 0
		border: 0

	&__input:checked + &__label &__button,
	&__input:not(:checked) + &__label &__button
		display: inline-block

	&__input:checked + &__label &__button
		position: relative
		&:before
			content: ""
			position: absolute
			line-height: 1

	&__input:disabled + &__label
		opacity: .4


/* Default skin */

blocks_default_skin ?= true
checkbox_default_skin ?= false

if blocks_default_skin or checkbox_default_skin

	.checkbox,
	.radio
		&__button,
		&__text
			line-height: 1.8
			font-size: 1em

		&__input:checked + &__label &__button,
		&__input:not(:checked) + &__label &__button
			width: size = 1em
			height: size
			margin-top: -.15em
			margin-right: .15em
			border: 1px solid #bbb
			border-radius: .15em
			box-shadow: inset 0 .1em .2em black(.1)

		&__input:enabled:active + &__label &__button,
		&__input:focus + &__label &__button
			background: #f4f4f4

	.checkbox
		&__input:checked + &__label &__button
			&:before
				top: .1em
				left: .09em
				width: .8em
				height: .65em
				background: embedurl("check.svg")
				background-size: 100% 100%
			.no-svg &:before
				top: -.2em
				left: .05em
				font-size: 1.25em
				color: #444
				background: none
				content: "✓"

	.radio
		&__input:checked + &__label &__button,
		&__input:not(:checked) + &__label &__button
			border-radius: 50%

		&__input:checked + &__label &__button
			&:before
				top: .19em
				left: .165em
				width: size = .5em
				height: size
				background: #444
				border-radius: 50%

