// Tâmia © 2013 Artem Sapegin http://sapegin.me
// Basic form controls: inputs, textareas, buttons

/* Bones */

.field,
.button
	display: block
	width: 100%
	vertical-align: middle
	font-size: 1em
	line-height: 1.4

	&_inline
		display: inline-block
		width: auto

	&:disabled,
	&.is-disabled
		cursor: default
		opacity: .4

.field_area
	resize: vertical

.button
	text-decoration: none
	cursor: pointer

	&:disabled,
	&.is-disabled
		pointer-events: none

.form
	&_inline .field,
	&_inline .button
		display: inline-block
		width: auto

	&__group
		space(2)

	&__row
		space()
		&:last-child
			space(0)

	&__left
		float: left

	&__right
		float: right


/* Default skin */

blocks_default_skin ?= true
form_default_skin ?= false


if blocks_default_skin or form_default_skin

	.field,
	.button
		height: 2em
		border-radius: .15em

		&:focus
			outline: 0
			border-color: form-focus-color
			box-shadow: inset 0 .1em .2em black(.1), 0 0 .4em rgba(form-focus-color, .75)

	.field,
	.button:active
		transition: border-color .05s ease-in-out, box-shadow .05s ease-in-out

	.field
		padding: .3em .4em
		background: #fff
		border: 1px solid #bbb
		box-shadow: inset 0 .1em .2em black(.1)

		&_area
			height: auto

	.button
		padding: .3em 1.5em;
		background: #c4c4c4;
		background: linear-gradient(top, #fcfcfc, #cacaca)
		border: 1px solid #ccc
		border-bottom-color: #aaa
		box-shadow: inset 0 .1em .1em white(.5), 0 .1em .1em black(.05)
		color: #555;
		text-shadow: 0 1px 0 white(.4)

		&:not(:disabled):not(.is-disabled):hover
			background: linear-gradient(top, #fefefe, #cfcfcf)
			color: #333

		&:not(:disabled):not(.is-disabled):active
			padding-top: .3em
			padding-bottom: .1em
			background: #cacaca
			background: linear-gradient(top, #bbb, #dfdfdf)
			box-shadow: inset 0 .1em .15em black(.25), 0 .05em .05em black(.05)
			border-color: #999
			border-top-color: #888

		&:disabled,
		&.is-disabled
			text-shadow: none
