<head>
	<title>ToDo</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	{{#if currentUser}}
		{{> main}}
	{{else}}
		{{#isolate}}
			{{#if loggingIn}}
				{{> spinner}}
			{{else}}
				{{> login}}
			{{/if}}
		{{/isolate}}
	{{/if}}
</body>

<template name="main">
	<header class="form-head form-head_login">
		<h1 class="beta form-head__title">My todos</h1>
		<a href="#" class="link form-head__subaction js-logout">Log out</a>
	</header>

	{{> todos}}
</template>

<template name="todos">
	<ul class="todos">
		{{#each todos}}
			{{> todo}}
		{{/each}}
	</ul>
	<form class="todos__add-form form js-add-form" action="">
		<input class="field js-add-title" type="text" placeholder="I want to do…" required autofocus>
	</form>
	<div class="todos__help">Drag’n’drop to reorder, double click to edit.</div>
</template>

<template name="todo">
	<li class="todos__item js-drag-target {{#if done}}todos__item_done{{/if}}" draggable="true">
		{{#if editing}}
			<form class="todos__edit-form form js-edit-form" action="">
				<input class="field js-title-field" type="text" value="{{title}}" required autofocus>
			</form>
		{{else}}
			<div class="todos__checkbox checkbox">
				<input class="checkbox__input js-toggle" id="todo_{{_id}}" type="checkbox" {{#if done}}checked{{/if}}>
				<label class="checkbox__label" for="todo_{{_id}}">
					<span class="checkbox__button"></span>
				</label>
			</div>
			<div class="todos__text">
				<span class="todos__title js-title">{{title}}</span>
				<a href="#" class="todos__remove link js-remove" title="Remove">×</a>
			</div>
		{{/if}}
	</li>
</template>

<template name="login">
	<div class="show-login">
		<header class="form-head form-head_login">
			<h2 class="gamma form-head__title">Sign In</h2>
			<a href="#" class="link form-head__subaction js-toggle">Register</a>
		</header>
		<header class="form-head form-head_register">
			<h2 class="gamma form-head__title">Register</h2>
			<a href="#" class="link form-head__subaction js-toggle">Sign in</a>
		</header>
		<form class="form js-login-form" action="">
			<div class="form__group">
				<div class="form__row">
					<input class="field js-login" type="email" placeholder="Email" required>
				</div>
				<div class="form__row">
					<input class="field js-password" type="password" placeholder="Password" required>
				</div>
			</div>
			<div class="form__error js-error is-hidden"></div>
			<div class="form__row">
				<input class="button submit submit_login" type="submit" value="Sign in">
				<input class="button submit submit_register" type="submit" value="Register">
			</div>
		</form>
	</div>
</template>

<template name="spinner">
	<div class="loading l-center">
		<div class="l-center-i">
			<div class="loading__spinner spinner"></div>
		</div>
	</div>
</template>
