// Tâmia © 2013 Artem Sapegin http://sapegin.me
// Switcher

/* Bones */

.switcher
	clearfix()

	&__label,
	&__input
		// For prehistoric browsers
		vertical-align: text-bottom
		padding-right: .5em
		font-size: 1em

	&__input:checked,
	&__input:not(:checked)
		position: absolute
		opacity: 0

	&__input:checked + &__label,
	&__input:not(:checked) + &__label
		position: relative
		float: left
		box-sizing: border-box
		vertical-align: top
		cursor: pointer
		z-index: 1
		margin-left: -1px
		user-select: none
	&__label:nth-of-type(1)
		margin-left: 0
	&__input:checked + &__label
		cursor: default
		z-index: 2


/* Default skin */

blocks_default_skin ?= true
switcher_default_skin ?= false

if blocks_default_skin or switcher_default_skin
	.switcher
		&__input:checked + &__label,
		&__input:not(:checked) + &__label
			height: 2em
			padding: .5em 1em
			background: #f4f4f4
			background: linear-gradient(top, #fefefe, #f4f4f4)
			border: 1px solid #bbb
			line-height: 1
			color: #555
		&__label:nth-of-type(1)
			border-radius: .15em 0 0 .15em
		&__label:nth-last-of-type(1)
			border-radius: 0 .15em .15em 0
		&__input:checked + &__label
			background: #aaa
			background: linear-gradient(top, #707070, #b4b4b4)
			border-color: #888
			box-shadow: inset 0 .1em .2em black(.2)
			color: #fff
			text-shadow: 0 1px 0 black(.1)
		&__input:focus + &__label
			box-shadow: 0 0 0 1px form-focus-color, 0 0 .4em 1px rgba(form-focus-color, .75)
