/* Author: Artem Sapegin, http://sapegin.me, 2013 */

body {
	background:bg-color;
	color:base-color;
	line-height:1.5;
	padding:spacer spacer 2*spacer;
	font-size:16px;
	if (max-width) {
		max-width:max-width;
		margin-left:auto;
		margin-right:auto;
	}
}


// Fonts

body { font-family:"Helvetica Neue", Arial, sans-serif; }

.show-register .form-head_login,
.show-register .submit_login,
.show-login .form-head_register,
.show-login .submit_register {
	display:none;
}

.loading {
	margin-top:100px;
	&__spinner {
		display:inline-block;
		font-size:32px;
	}
}

.form-head {
	space();
	
	&__title,
	&__subaction {
		display:inline-block;
	}

	&__subaction {
		margin-left:1em;
		font-size:small-font;
	}
}

.form {
	&__error {
		space(2);
		color: #900;
	}
}

.todos {
	space(2);
	
	&__item,
	&__add-form {
		font-size:20px;
		line-height:32px;
		height:32px;
	}

	&__add-form {
		space(2);
	}

	&__item.is-drag-over {
		position:relative;
		border-bottom:1px solid form-focus-color;
		&:before {
			content:"";
			position:absolute;
			left:-3px;
			bottom:-3px;
			width:5px;
			height:5px;
			background:form-focus-color;
			border-radius:50%;
		}
	}

	&__text,
	&__checkbox {
		display:inline-block;
	}

	&__item_done &__title {
		color:#ccc;
		text-decoration:line-through;
	}

	&__remove {
		text-decoration:none;
	}

	&__edit-form {
		font-size:16px;
	}

	&__help {
		color:#999;
	}
}
